body {
    font-family: Arial, sans-serif;
}

.medications-header, .medication-btn {
    background-color: #0077b6;
}

.header-content, .medication-types, .doctors-section, .medication-products, .items {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header-image, .info-image {
    width: 30%;
    height: auto;
    margin-right: 20px;
}

.header-description {
    font-size: 1.2em;
    width: 50%;
    color: white;
    margin-right: 20px;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}

.medication-item, .doctor-item, .items {
    text-align: center;
    margin: 10px;
}

.medication-logo {
    width: 100px;
    height: auto;
}

.medication-name, .doctor-name {
    font-size: 1.1em;
    margin-top: 5px;
}

.medication-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.medication-btn:hover {
    background-color: #005f8a;
}

.medications-info {
    text-align: center;
    padding: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




.item {
    flex: 1 0 30%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box; 
}

.item:hover {
    border-color: #0077b6;
    transform: scale(1.05);
}

.item img {
    width: 50%
    
}

.btns{
    margin-top: 3px;
    text-align: center;
}
.btns #btn{
    padding: 5px;
    width: 40%;
    border-radius: 10px;
    border: none;
    background: #ff0007;
    color: #ffffff;
}

.info-description {
    font-size: 1.2em;
    margin-top: 10px;
}


.doctor-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid #0077b6;
}

.doctor-specialty {
    font-size: 0.9em;
    color: #555;
}

.product {
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.product img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    color: #0077b6; 
}

.product:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.price {
    color: #0077b6;
    font-size: 1.2em;
    font-weight: bold;
}
